{% extends 'base.html.twig' %}

{% block title %}Book a table{% endblock %}

{% block content %}
    <h1>Book a table</h1>

    {{ form_start(form) }}
        {{ form_label(form.email, "Entrez votre adresse email") }}
        {{ form_widget(form.email) }}
        {{ form_label(form.firstName, "Entrez votre prénom") }}
        {{ form_widget(form.firstName) }}
        {{ form_label(form.lastName, "Entrez votre nom de famille") }}
        {{ form_widget(form.lastName) }}
        {{ form_label(form.phoneNumber, "Entrez votre numéro de téléphone") }}
        {{ form_widget(form.phoneNumber) }}
        {{ form_label(form.numberOfPeople, "Nombre de couverts") }}
        {{ form_widget(form.numberOfPeople) }}
        {{ form_label(form.date, "Date de réservation") }}
        {{ form_widget(form.date) }}
        {{ form_label(form.time, "Heure d'arrivée") }}
        {{ form_widget(form.time) }}


        {{form_widget(form._token)}}

    {{ form_widget(form.submit, { 'attr': { 'class': 'btn btn-primary' } }) }}

    {{ form_end(form) }}
{% endblock %}