{% extends 'base.html.twig' %}

{% block title %}Book a table{% endblock %}

{% block body %}
    <h1>Book a table</h1>

    {{ form_start(form) }}

    {{ form_row(form.customerName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.numberOfPeople) }}
    {{ form_row(form.bookingDate) }}
    {{ form_row(form.bookingTime) }}

    {{ form_row(form.submit, { 'attr': { 'class': 'btn btn-primary' } }) }}

    {{ form_end(form) }}
{% endblock %}