
{% block list %}

{% if bookings is empty %}
   <p>No bookings found.</p>
{% else %}
   <table>
      <thead>
         <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Date</th>
            <th>Time</th>
            <th>Seats</th>
         </tr>
      </thead>
      <tbody>
         {% for booking in bookings %}
            <tr>
               <td>{{ booking.customerName }}</td>
               <td>{{ booking.phoneNumber }}</td>
               <td>{{ booking.email }}</td>
               <td>{{ booking.date|date('F j, Y') }}</td>
               <td>{{ booking.time|date('g:i A') }}</td>
               <td>{{ booking.numberOfPeople }}</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
{% endif %}

{% endblock %}