
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{{ path('app_home')}}"><img height="60" width="180" class="navbar-brand" src="{{ asset('assets/front/images/logo/logo.png') }}" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('front_booking_add') }}">Réservation</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Login</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    {% include 'admin/index.html.twig' %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>

        </div>
    </nav>
</header>